---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

## Working Papers

1. Sehatpour, M. H., Campi, M., Sklibosios Nikitopoulos, C., Peters, G., & Richards, K. A. (2024). *Anatomy of Municipal Green Bond Yield Spreads*. Available at SSRN.

2. Sehatpour, M. H, Nikitopoulos, C.S., Peters, G.W. and Richards, K.A. Campi, M., (2025). *Determinant of green bonds yield spreads: An unsupervised machine learning approach*. Work in progress.

## Research Papers Under Review

1. Rajabani, N., Kazemi, A., Saghafi, F., **Sehatpour, M. H.**, Shakouri G., H. (2025). *What Drives Energy Consumption Behavior in the Residential Sector? An Integrated Approach of Value-focused Thinking and Feature Selection*. (Under review in *Building Research and Information*)

## Journal Papers

1. Sehatpour, M. H., Abedin, B., & Kazemi, A. (2022). Talent management in government organizations: Identification of challenges and ranking the solutions to address them. *International Journal of Productivity and Performance Management*, 71(4), 1444-1468.

2. E Basirian, MH Sehatpour, *Study of factors affecting the liquidity of futures contracts, regarding order-based criteria*, *Journal of Contemporary Issues in Business and Government*, 2021. 27, 2444–2454

3. Sehatpour, M. H., & Kazemi, A. (2018). Sustainable fuel portfolio optimization: Integrated fuzzy multi-objective programming and multi-criteria decision making. *Journal of Cleaner Production*, *176*, 304-319.

4. Sehatpour, M. H., Kazemi, A., & Sehatpour, H. E. (2017). Evaluation of alternative fuels for light-duty vehicles in Iran using a multi-criteria approach. *Renewable and Sustainable Energy Reviews*, *72*, 295-310.

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my publications on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



