---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<h2>Working Papers</h2>
<ol>
  <li>
    Sehatpour, M. H., Campi, M., Sklibosios Nikitopoulos, C., Peters, G., & Richards, K. A. (2024). 
    <em>Anatomy of Municipal Green Bond Yield Spreads</em>. 
    Available at <a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=5075265">SSRN</a>.
  </li>
  <li>
    Sehatpour, M. H., Nikitopoulos, C.S., Peters, G.W., Richards, K.A., & Campi, M. (2025). 
    <em>Determinant of Green Bonds Yield Spreads: An Unsupervised Machine Learning Approach</em>. 
    Work in progress.
  </li>
</ol>

<h2>Research Papers Under Review</h2>
<ol>
  <li>
    Rajabani, N., Kazemi, A., Saghafi, F., Sehatpour, M. H., & Shakouri G., H. (2025). 
    <em>What Drives Energy Consumption Behavior in the Residential Sector? An Integrated Approach of Value-focused Thinking and Feature Selection</em>. 
    (Under review in <em>Building Research and Information</em>)
  </li>
</ol>

<h2>Journal Papers</h2>
<ol>
  <li>
    Sehatpour, M. H., Abedin, B., & Kazemi, A. (2022). 
    Talent management in government organizations: Identification of challenges and ranking the solutions to address them. 
    <em>International Journal of Productivity and Performance Management</em>, 71(4), 1444–1468.
  </li>
  <li>
    Basirian, E., & Sehatpour, M. H. 
    <em>Study of factors affecting the liquidity of futures contracts, regarding order-based criteria</em>. 
    <em>Journal of Contemporary Issues in Business and Government</em>, 2021, 27, 2444–2454.
  </li>
  <li>
    Sehatpour, M. H., & Kazemi, A. (2018). 
    Sustainable fuel portfolio optimization: Integrated fuzzy multi-objective programming and multi-criteria decision making. 
    <em>Journal of Cleaner Production</em>, <strong>176</strong>, 304–319.
  </li>
  <li>
    Sehatpour, M. H., Kazemi, A., & Sehatpour, H. E. (2017). 
    Evaluation of alternative fuels for light-duty vehicles in Iran using a multi-criteria approach. 
    <em>Renewable and Sustainable Energy Reviews</em>, <strong>72</strong>, 295–310.
  </li>
</ol>

<p>You can also find my publications on 
<a href="{{site.author.googlescholar}}" target="_blank">my Google Scholar profile</a>.</p>

{% include base_path %}

{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



