---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<h2>Academic Teaching</h2>
<ul>
  <li>2025 – Tutor, <strong>25410 Applied Financial Decision Making</strong>, Finance Discipline, UTS Business School.</li>
  <li>2025 – Tutor, <strong>25624 Financial Metrics for Decision Making</strong>, Finance Discipline, UTS Business School.</li>
  <li>2024–present – Tutor, <strong>25620 Derivatives Securities</strong>, Finance Discipline, UTS Business School.</li>
  <li>2024–present – Tutor, <strong>25300 Fundamentals of Business Finance</strong>, Finance Discipline, UTS Business School.</li>
</ul>

<h2>Course Instruction</h2>
<ul>
  <li>2020–2021 – Training Instructor, <strong>Fundamentals of Capital Market</strong>, Civil Servants Pension Fund.</li>
  <li>2020–2021 – Training Instructor, <strong>Investment Strategies in Derivatives Markets</strong>, Civil Servants Pension Fund.</li>
  <li>2019–2021 – Training Instructor, <strong>Technical and Fundamental Analysis</strong>, Civil Servants Pension Fund.</li>
</ul>

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}


